* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

header {
    .qu-logo {
        width: 15vw;
        /* height: 10vh; */
    }

    .main-menu {
        text-align: center;

        ul {
            li {
                margin: 0.55rem;
                list-style: none;
            }
        }

        a {
            text-decoration: none;
            padding: 0.2rem;
            font-size: 0.75rem;

        }

        a:hover {
            background-color: beige;
        }
    }
}

main {
    .headline {
        .main-title {
            font-size: clamp(1.5rem, 2.5vw, 4rem);
            text-align: center;

            span {
                color: blue;
            }
        }

        text-align: center;

        img {
            width: 30%;
            height: 20%;
        }
    }

    .middle-section {
        .sections {
            section {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin: 1rem 0;
                padding: 1rem;
            }

            h2 {
                background-color: red;
                color: white;
                padding: 0.2rem;
            }

            p::first-letter {
                font-size: 1.5rem;
            }

            figure {
                img {
                    width: 100%;
                    height: 5%;
                }

                text-align: center;
            }

            #campus-involvement {
                ol {
                    margin: 1rem;
                }
            }

            #internship-experience {
                table {
                    border-collapse: collapse;
                    margin-bottom: 1rem;

                }

                .table-title {
                    background-color: green;
                    color: white;
                }

                td,
                th {
                    padding: 0.5rem;
                    border: 2px solid red;

                }
            }

            .abroad-images {
                img {
                    width: 100%;
                    height: 20rem;
                }
            }


        }

        aside {
            margin-top: 2rem;

            li {
                list-style: none;
            }

            /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        }
    }
}

footer {
    background-color: brown;
    color: white;
    padding: 1rem;
}

@media screen and (min-width : 40rem) {
    header {
        display: flex;
        justify-content: space-between;

        .main-menu {
            ul {
                display: flex;

                li:not(:last-child) {
                    a::after {
                        content: "|";
                        padding-left: 0.2rem;
                    }
                }
            }


        }
    }

    .headline {
        display: flex;
        /* outline: auto; */
        align-items: center;
    }

    .middle-section {
        display: flex;
        gap: 1rem;

        .sections {
            flex: 4;

            .abroad-images {
                display: flex;
                flex-wrap: wrap;
                gap: 0.2rem;

                img {
                    width: 15rem;
                    flex: 1;
                }
            }

        }

        aside {
            flex: 0.2;
        }
    }

}

aside {
    flex: 1;
}



}
}